@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&display=swap');

:root {
  --primary: #F4B234;
  --white: #FFFFFF;
  --black: #000000;
}

h1,h2,h3,h4,h5,h6,p,li,a {
  font-family: 'Gothic A1', sans-serif;
}
.primary {
  color: var(--primary);
}
html {
  background: black;
}
body {
  background: transparent;
  color: var(--white);
}
.uk-panel-box {
  padding: 0;
  background: none;
}
.snap-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  height: 100vh;
  scroll-snap-type: y mandatory;
/*  scroll-snap-points-y: repeat(100vh); */
	overflow: scroll;
	scroll-behavior: smooth;
}

.snap {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	overflow-x: hidden;
    position: relative;
}
.snap:last-child {
	padding-bottom: 30px;
}
#bgvideo {
  right: 0;
  bottom: 0;
  z-index: -99999;
  object-fit: cover;
  display: block !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-container {
  position: fixed;
  width: 100%;
  z-index: 5;
    background: linear-gradient( to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.0));
} 
.tm-headerbar {
  margin: 0;
  max-width: none;
    float: none;
}
.tm-headerbar .uk-panel {
  margin: 0;
  max-width: none;
  float: none; 
}
a.tm-logo h1 {
  text-indent: -9999px;
  background: url(../images/lumn8-logo_white.png) no-repeat;
  background-size: 100%;
  position: relative;
  width: 150px;
  margin: 0;
}
.uk-navbar {
  background: transparent;
}
.uk-navbar img.toggler {
  width: 50px;
}
a.btn.nav-cta  {
  padding: 10px 20px 8px ;
  vertical-align: middle ;
  margin-right: 30px ;
}
.hero {
	min-height: 100vh;
}

#digital-growth .hero-content {
	text-align: center;
}
.hero-title {
    margin: 0 auto;
	display: table;
}
.hero-title span.triangle {
  display: inline-block;
  border-top: 6rem solid var(--primary);
  border-left: 4rem solid transparent;
  vertical-align: top;
  margin-top: 27px;
  margin-right: 15px;
}
.hero-title h1 {
  display: inline-block;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
}
.hero-title p, .service p, #digital-growth p {
  font-size: 2rem;
  line-height: 1.25;
  color: var(--white);
}
.hero-title p span {
  color: var(--primary);
}
.page-id-11 h1.uk-article-title {
  display: none;
}
.services {
	margin-top: 20px;
}
.service h2 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 400;
}
.team-member {
	text-align: center;
}
.team-member h2 {
	font-weight: bold;
	color: var(--white);
	margin-bottom: 10px;
}
.team-member p {
    margin-top: 0;
}
.luminate-content {
  border-top: solid 1px var(--white);
  padding: 50px 0;
  border-bottom: solid 1px var(--white);
}
.luminate-content h2 {
  color: white;
  margin: 0;
  font-size: 3rem;
  line-height: 1.25;
}
#connect p {
  font-size: 1.25rem;
	line-height: 1.5;
}
.gform_wrapper input[type=text], .gform_wrapper textarea, .gform_wrapper select {
  padding: 10px !important;
  border: none;
  border-radius: 3px;
      margin-bottom: 5px;
  -webkit-appearance: none;
  appearance: none;
	background: white;
}
.gform_wrapper .top_label .gfield_label, .gform_wrapper legend.gfield_label {
  color: var(--white);
  font-size: 1.25rem;
	margin: 0;
}
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  color: var(--primary);
}
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}
.gform_wrapper .field_description_below .gfield_description {
    padding-top: 0;
}
body .gform_wrapper ul li.gfield {
    margin-top: 10px;
}
.gform_button, .btn {
    background: var(--primary);
    border: none;
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
	-webkit-appearance: none;
    appearance: none;
	font-weight: bold;
	text-transform: uppercase;
}
.gform_button:hover, .btn:hover {
    color: white;
	background: #C48100;
	text-decoration: none;
}
.gform_button {
    width: 100% !important;
}
.gform_wrapper div.validation_error, .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
.gform_wrapper div.validation_error, .gform_wrapper .validation_message, .gform_wrapper .gfield_required, .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
  color: var(--primary);
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
  border: 2px solid var(--primary);
}
.gform_wrapper .gfield_description {
    color: white;
	padding-top: 0;
}
.gform_confirmation_message {
    text-align: center;
    border-top: solid 1px white;
	border-bottom: solid 1px white;
    padding: 30px;
    margin: 50px auto 0;
	width: 50%;
}
.gform_confirmation_message p {
    color: white;
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    line-height: 1.25;
}
.gform_confirmation_message p span {
    color: var(--primary);
	font-weight: bold;
}
.uk-offcanvas-bar.uk-offcanvas-bar-flip {
  background: rgba(0,0,0,0.9);
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
html .uk-nav.uk-nav-offcanvas > li > a {
  background: transparent;
/*  color: transparent;*/
  font-weight: bold;
  font-size: 5rem;
  color: var(--primary);
/*
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary); 
*/
  line-height: 1.5;
}
html .uk-nav.uk-nav-offcanvas > li > a:hover {
  color: var(--primary);
}
.social a {
    margin: 0 10px;
    color: white;
}
.footer-margin {
	height: 70px;
}
@media(max-width: 767px) {
	section.hero {
		min-height: 100vh;
		height: auto;
	}
	.nav-container {
    padding: 20px 0;
	}
	.tm-navbar {
    margin: 0;
    padding: 0;
	}
	.hero-content {
	padding: 50px 0;
	margin: 0 auto;
}
	.hero-content h1 {
        width: 70%;
    font-size: 3rem;
    text-align: left;
	}
	.service h2 {
    margin: 0;
		font-size: 1.5rem;
}
	.hero-content .service p {
    font-size: 1.25rem;
		    margin: 5px 0;
	}
	html .uk-nav.uk-nav-offcanvas > li > a {
    font-size: 3rem;
    color: var(--primary);
    -webkit-text-fill-color: var(--primary);
    -webkit-text-stroke-color: transparent;
    line-height: 1.5;
    text-align: left;
    padding: 30px 20px;
}
	span#input_1_1_3_container, span#input_1_1_6_container {
    width: 48%;
    float: left;
    margin-right: 4%;
}
	span#input_1_1_6_container {
    margin-right: 0;
}
	video::-webkit-media-controls {
        display:none !important;
    }

    video::-webkit-media-controls-start-playback-button {
        display: none!important;
        -webkit-appearance: none;
	}
}
@media only screen and (max-width: 641px) {
	.hero-content {
    padding: 10px 0;
	}
	.hero-title {
	    display: flex;
    justify-content: center;
	}
	
	.hero-title h1 {
    font-size: 3.5rem;
	}
	.hero-title span.triangle {
    border-top: 4rem solid var(--primary);
    border-left: 3rem solid transparent;
	}
	.team-member {
    margin-bottom: 30px;
}
.gform_wrapper .ginput_container span:not(.ginput_price) {
    margin-bottom: 8px;
}
.gform_wrapper input[type=text], .gform_wrapper textarea, .gform_wrapper select {
      margin-bottom: 5px;
}
	body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}
.gform_wrapper .field_description_below .gfield_description {
    padding-top: 0;
}
    .luminate-content h2 {
  font-size: 2rem;
}
	.gform_confirmation_message {
    width: 80%;
		margin-top: 20px;
	}
  .nav-container {
    padding: 10px 0;
  }
  a.btn.nav-cta {
    font-size: 1rem;
    margin-right: 10px;
    padding: 8px 10px 6px;
  }
  a.tm-logo h1 {
    width: 90px;
    line-height: 1;
    background-position: center;
  }
  .uk-navbar img.toggler {
    width: 40px;
  }
  #connect p {
    margin: 10px 0;
  }
  .gform_wrapper .gform_footer {
    margin: 0;
  }
  .gform_wrapper .top_label .gfield_label, .gform_wrapper legend.gfield_label {
    font-size: 1;
  }
  section.hero#connect {
    padding-top: 90px;
  }
}